<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>
      <class name="eply.com.tests.LoginTest"/>
      <class name="my_qa4.my_qa4.AppTest"/>
      <class name="eply.com.tests.TasksTest"/>
      <class name="eply.com.tests.AddNewTaskTest"/>
      <class name="eply.com.tests.ForgotPasswordTest"/>
      <class name="eply.com.tests.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
